<form>
    <legend></legend>
    <label>

    </label>
</form>
<form>
    <legend></legend>
    <label>
        
    </label>
</form>
<form>
    <legend></legend>
    <label>
        <text></text>
        <input type="text">
    </label>
    <label>
        <text></text>
        <input type="text">
    </label>
</form>
{% for artist in site.data.artist %}
    {{ artist.name }}
    {{ artist.spotify }}
    {{ artist.instagram }}
    <img src="../assets/images/{{ artist.image }}" alt="">
{% endfor %}