$colors: (
    main: #FF2A19
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

body, html {
    margin: 0;
}

h1{
    text-align: center;
}

a:hover{
    color: palegreen;
}

nav {
    text-align: center;
    padding-top: 8px;

    a {
        margin: 20px 5px 0 5px;
        text-decoration: none;
        color: darkblue;
        padding: 12px 8px;
        font-size: 25px;
    }
}

body {
    text-align: center;
    background: lightcyan;

    main {
        max-width: 850px;
        text-align: left;
        margin: auto;

        h1 {
            margin: 8px 0 0 0;
        }
    }
}

.spin {
    animation: spin 1s infinite alternate ease-in-out;
    text-align: center;
}

@keyframes spin {
    from {
        transform:rotate(-25.5deg);
    }
    to {
        transform:rotate(25.5deg);
}
}