$colors: (
    main: #FF2A19
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

body, html {
    margin: 0;
}

h1{
    text-align: center;
}

a:hover{
    color: palegreen;
}

nav {
    text-align: center;
    padding-top: 8px;

    a {
        margin: 20px 5px 0 5px;
        text-decoration: none;
        color: darkblue;
        padding: 12px 8px;
        font-size: 25px;
    }
}

body {
    text-align: center;
    background: lightcyan;

    main {
        max-width: 850px;
        text-align: left;
        margin: auto;

        h1 {
            margin: 8px 0 0 0;
        }
    }
}

.spin {
    animation: spin 1s infinite alternate ease-in-out;
    text-align: center;
}

@keyframes spin {
    from {
        transform:rotate(-25.5deg);
    }
    to {
        transform:rotate(25.5deg);
}
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=tel], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=date], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #f0ccf0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #e4aee4;
  }

.info{
    visibility: hidden;
}