@import url('https://fonts.googleapis.com/css?family=Pacifico');

$colors: (
    main: #FF2A19
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

body, html {
    margin: 0;
}

.toggle{
    visibility: hidden;
}

.toggle2{
    visibility: hidden;
}

body{
    font-family: 'Pacifico', cursive;
}

h1{
    text-align: center;
}

a:hover{
    color: palegreen;
}

a {
    margin: 20px 5px 0 5px;
    text-decoration: none;
    color: darkblue;
    padding: 12px 8px;
    font-size: 25px;
}

nav {
    text-align: center;
    padding-top: 8px;

    a {
        margin: 20px 5px 0 5px;
        text-decoration: none;
        color: darkblue;
        padding: 12px 8px;
        font-size: 25px;
    }
}

body {
    text-align: center;
    background: lightcyan;

    main {
        max-width: 850px;
        text-align: left;
        margin: auto;

        h1 {
            margin: 8px 0 0 0;
        }
    }
}

.spin {
    animation: spin 1s infinite alternate ease-in-out;
    text-align: center;
}

@keyframes spin {
    from {
        transform:rotate(-25.5deg);
    }
    to {
        transform:rotate(25.5deg);
}
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=tel], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=date], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: greenyellow;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: green;
  }



@media (max-width:20em){
    .toggle_input {
        display: none;
      }
    .toggle_label,
    .dalkar {
    border: 1px solid #cecfd5;
    border-radius: 6px;
    }
    .toggle_label {
    color: #0087cc;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 5px 9px;
    transition: all .15s ease;
    }
    .toggle_label:hover {
    color: #ff7b29;
    }
    .toggle_input:checked + .toggle_label {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #9799a7;
    }
    .stuff {
    max-height: 0;
    overflow: hidden;
    transition: all .15s ease;
    }
    .toggle_input:checked ~ .stuff {
    max-height: 500px;
    }
    .dalkar {
    list-style: none;
    margin: 8px 0 0 0;
    padding: 0;
    width: 100px;
    }
    .dalkar li {
    border-bottom: 1px solid #cecfd5;
    }
    .dalkar li:last-child {
    border-bottom: 0;
    }
    .stuff a {
    color: #0087cc;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    }
    .stuff a:hover {
    color: #ff7b29;
    }
      
}

@media (max-width:48em){
    .toggle_input {
        display: none;
      }
    .toggle_label,
    .dalkar {
    border: 1px solid #cecfd5;
    border-radius: 6px;
    }
    .toggle_label {
    color: #0087cc;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 5px 9px;
    transition: all .15s ease;
    }
    .toggle_label:hover {
    color: #ff7b29;
    }
    .toggle_input:checked + .toggle_label {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #9799a7;
    }
    .stuff {
    max-height: 0;
    overflow: hidden;
    transition: all .15s ease;
    }
    .toggle_input:checked ~ .stuff {
    max-height: 500px;
    }
    .dalkar {
    list-style: none;
    margin: 8px 0 0 0;
    padding: 0;
    width: 100px;
    }
    .dalkar li {
    border-bottom: 1px solid #cecfd5;
    }
    .dalkar li:last-child {
    border-bottom: 0;
    }
    .stuff a {
    color: #0087cc;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    }
    .stuff a:hover {
    color: #ff7b29;
    }
}
